img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

section > .text {
  color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-10%, -10%);
}

.contaner {
  position: relative;
}

.text > h1 {
  font-size: 39px;
  margin: 15px;
}

.text > p {
  text-align: justify;
  margin: 15px;
  line-height: 30px;
}

input[type="submit"] {
  background-color: rgb(212, 152, 40);
  padding: 10px;
  color: white;
  border: transparent;
  font-weight: 500;
  padding: 10px;
  margin: 15px;
  transition-duration: 0.7s;
}

.contaner2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img1 {
  width: 560px;
  height: 474px;
}

.c2 {
  color: rgb(212, 152, 40);
  margin: 20px;
  text-align: center;
}

.text2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 39, 39);
  width: 500px;
  height: 400px;
  color: white;
}

.c3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 90px;
  justify-content: center;
  color: white;
  padding-bottom: 20px;
}

.c3 > SPAN {
  color: rgb(212, 152, 40);
}

.text2 > p {
  line-height: 17px;
  text-align: justify;
  font-size: 15px;
  margin: 10px;
}

.text2 > h1 {
  text-align: center;
  margin: 10px;
}

.cotaner3 {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 49px;
  justify-content: center;
  flex-wrap: wrap;
}

.img3 {
  width: 50px;
  height: 50px;
  margin: auto;
}

.cotaner3 > .menu {
  display: flex;
  flex-direction: column;
  border: 0.5px solid white;
  padding: 30px;
  width: 300px;
  margin: 20px;
  text-align: center;
  transition-duration: 0.7s;
}

.cotaner3 > .menu:hover {
  border-radius: 20px;
  background-color: rgb(212, 152, 40);
  color: black;
}

.cotaner3 > .menu > input:hover {
  border-radius: 10px;
  background-color: white;
  color: black;
}

.menu > h2 {
  font-size: 14px;
}

.C4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  color: white;
  margin: 20px;
}

.contaner4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.contaner4 > .menu {
  border: 0.1px solid rgb(212, 152, 40);
  padding: 30px;
  margin: 20px;
  text-align: justify;
}

.star {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  color: rgb(212, 152, 40);
}

.contaner4 > .menu > .img3 {
  border-radius: 50%;
}

.contaner4 > .menu {
  color: white;
}

.contaner4 > .menu > p {
  text-align: justify;
  margin: 10px;
}

.cataner5 {
  display: flex;
  flex-direction: column;
}

iframe {
  margin: auto;
  margin-bottom: 30px;
}

section > h1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 37px;
  justify-content: center;
  color: white;
  margin: 20px;
}

.redes {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
}

.red {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 60px;
  height: 70px;
}

.red > i:hover {
  color: rgb(212, 152, 40);
}
