@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > ul {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
}

nav > ul > li {
  font-size: 15px;
  text-decoration: none;
}

nav > ul > li:hover {
  border-bottom: 1px solid rgb(212, 152, 40);
}

nav > img {
  width: 70px;
  height: 59px;
  margin-left: 50px;
}

#icon {
  margin: 22px;
  color: white;
}

#icon:hover {
  background-color: rgb(212, 152, 40);
  padding: 2px;
  border-radius: 8%;
}

header {
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgba(255, 253, 253, 0.2);
}
